* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
}
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: teal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 600ms, color 1s;
}
.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}
.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}
.site-title {
  font-size: 4em;
  font-family: 'Gloria Hallelujah', cursive;
}
.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
}
.sobre,
.contato,
.portifolio {
  padding: 2em;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sobre h2,
.contato h2 , 
.portifolio h2 {
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
  line-height: 3em;
}
.sobre .avatar img {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  object-position: left top;
}
.sobre .avatar{
  max-width: 350px;
  max-height: 350px;
}
.sobre .avatar {
  margin-left: auto;
  margin-right: auto;
  clip-path: polygon(50% 25%, 100% 0, 100% 60%, 50% 93%, 0 60%, 0 0);
}
@media (min-width: 600px) {
  .sobre .avatar {
    margin-left: 2em;
    float: right;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}
.sobre p {
  color: whitesmoke;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}
.sobre a {
  color: whitesmoke;
  text-decoration: underline;
}
.sobre a:hover{
  text-decoration: none;
  background-color: cyan;
  color: magenta;
}
.portifolio .grid {
  display: grid;
  gap: 2em;
}
@media (min-width: 560px) {
  .portifolio .grid {
    grid-template-columns: 240px 240px;
  }
}
@media (min-width: 880px) {
  .portifolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}
.portifolio figure {
  text-align: center;
}
.img-portfolio-with-zoom,
.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}.img-portfolio-with-zoom:hover {
  transform: scale(1.2) rotate(-2deg);
}
.flip-card {
  perspective: 400px;
}
.card {position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.flip-card:hover .card{
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}
.card-back {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  transform: rotateY(180deg);
}
.contato a {
  color: whitesmoke;
  font-size: 5em;
  text-decoration: none;
  transition: text-shadow 1s;
}.contato .grid {
  text-align: center;
}.contato a:active,
.contato a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}